<html lang="en">

{% include 'head.html' %}

<body>

{% include 'navbar.html' %}


<main class="container mb-3">
    <div class="row">
        <form id="langForm" method="get">
            <input type="hidden" name="subgraph" value="{{ subgraph }}">
            <div class="row">
                <dt class="col-sm-4"><label for="qid">Topic item to work on:</label></dt>
                <dd class="col-sm-3">
                    <input type="text" class="form-control" id="qid" name="qid" value="{{ qid }}"
                           placeholder="Q1949144"
                           title="This is the topic to curate. Items that already have a P921 statement with this value will be excluded by default." required></dd>
            </div>
            <dl class="row">
                <dt class="col-sm-4">Language code:</dt>
                <dd class="col-sm-3">
                    <input type="text" class="form-control" id="lang"
                           name="lang" maxlength="3" value="{{ lang }}"
                           title="Input a language code supported by Wikimedia." required>
                </dd>
            </dl>
            <button type="submit" class="btn btn-primary mt-3" onclick="submitForm('/subgraph')">Select subgraph</button>
            <button type="submit" class="btn btn-primary mt-3" onclick="submitForm('/term')">Work on scientific articles</button>
        </form>
    </div>
</main>

<script>
    function submitForm(action) {
        var form = document.getElementById('langForm');

        // Check for required fields before submitting
        if (validateRequiredFields(form)) {
            form.action = action;
            form.submit();
        }
        // We don't alert here because bootstrap takes care of that.
    }

    function validateRequiredFields(form) {
        var requiredFields = form.querySelectorAll('[required]');
        var isValid = true;

        requiredFields.forEach(function (field) {
            if (!field.value.trim()) {
                isValid = false;
            }
        });

        return isValid;
    }
</script>

{% include 'footer.html' %}

</body>
</html>