<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

{% include 'navbar.html' %}


<main class="container mb-3">
    <div class="row">
        <form action="/term" method="get">
            <input type="hidden" name="lang" value="{{ lang }}">
            <input type="hidden" name="qid" value="{{ qid }}">
            <dl class="row">
                <dt class="col-sm-3">Subgraph:</dt>
                <dd class="col-sm-9">
                    <select class="form-select" id="subgraph" name="subgraph">
                        <option value="scientific_journals">Scientific Journals</option>
                        <option value="scientific_articles" selected>Scientific Articles and Preprints</option>
                        <option value="riksdagen_documents">Riksdagen Documents</option>
                    </select>
                </dd>
            </dl>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</main>

{% include 'footer.html' %}

</body>
</html>
