<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}
<style>
    .hidden {
      display: none;
    }
</style>
<body>

{% include 'navbar.html' %}

<main class="container mb-3">
    <!-- Multi-step progress bar begin -->
    <!-- Source: https://www.geeksforgeeks.org/how-to-create-multi-step-progress-bar-using-bootstrap/ -->
    <div class="row justify-content-center">
        <div class="text-center">
            <ul id="progressbar">
                <a href="/?lang={{ lang }}&qid=&limit={{ limit }}&subgraph={{ subgraph }}" title="Go back to choosing of topic and language."><li id="step1">
                    <strong>Choose lang and topic</strong>
                </li></a>
                <a href="/subgraph?lang={{ lang }}&qid={{ qid }}&limit={{ limit }}&subgraph=" title="Go back to choosing of subgraph."><li id="step2"><strong>Choose subgraph</strong></li></a>
                <li id="step3"><strong>Process subtopics</strong></li>
                <li class="active" id="step4" ><strong>Choose terms</strong></li>
                <li id="step5"><strong>Handle results</strong></li>
                <li id="step6"><strong>Send to QS</strong></li>
            </ul>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
            <br>
        </div>
    </div>
    <!-- Multi-step progress bar end -->
    <div class="row">
        {% include 'working_on.html' %}
        {% include 'goto.html' %}
        <form action="/results" method="get">
            <input type="hidden" name="lang" value="{{ lang }}">
            <input type="hidden" name="subgraph" value="{{ subgraph }}">
            <input type="hidden" name="qid" value="{{ qid }}">
            <dl>
                <dt id="toggleBtn" class="cursor-pointer">Advanced query settings (Click to expand/collapse):</dt>
            </dl>
            <div class="advancedQuerySettings hidden">
              <div class="row mb-3">
                <div class="col">
                  <label for="limit" class="form-label">Limit:</label>
                  <input type="text" id="limit" class="form-control" name="limit" placeholder="{{ default_limit }}" title="We default to {{ default_limit }}.">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="csp" class="form-label">CirrusSearch prefix:</label>
                  <input type="text" id="csp" class="form-control" name="prefix" value="" placeholder="haswbstatement:P31=Q13442814 -haswbstatement:P921=Q1334131" title="This is used mainly to control which subset of the graph to work on. Defaults to scientific articles.">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col">
                  <label for="csa" class="form-label">CirrusSearch affix:</label>
                  <input type="text" id="csa" class="form-control" name="affix" placeholder="-inlabel:syndrome" title="This is used mainly to exclude terms from the results">
                </div>
              </div>
            </div>
            <h3>Term list</h3>
            <p class="alert alert-info">At least one term is required.</p>
            <div class="row">
                <!-- Dynamic list of strings -->
                <table class="table table-bordered" id="termsTable">
                    <tr>
                        <th scope="col" class="col">Check <a href="#" onclick="checkAll(); return false;">all</a> | <a href="#" onclick="uncheckAll(); return false;">None</a></th>
                        <th scope="col" class="col">Term</th>
                        <th scope="col" class="col">Source</th>
                    </tr>
                    {{ terms_html | safe }}
                </table>
                <input type="text" class="form-control" id="term-input" placeholder="Add term to list">
                <button type="button" onclick="addTerm()"  class="btn btn-secondary btn-sm">Add term</button>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-lg center">Lookup items</button>
            </div>
        </form>
    </div>
</main>

<script>
    function addTerm() {
        var newString = document.getElementById('term-input').value;
        if (newString.trim() !== '') {
            var table = document.getElementById('termsTable');

            // Create a new row
            var newRow = table.insertRow(table.rows.length);

            // Insert cells into the row
            var checkboxCell = newRow.insertCell(0);
            var termCell = newRow.insertCell(1);
            var sourceCell = newRow.insertCell(2);

            // Create checkbox and set its properties
            var checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.name = 'terms';
            checkbox.value = newString;
            checkbox.checked = true;

            // Create span element for source
            var span = document.createElement('span');
            span.classList.add('source');
            span.textContent = 'from user';

            // Set the content of the cells
            checkboxCell.appendChild(checkbox);
            termCell.textContent = newString;
            sourceCell.appendChild(span);

            // Clear the input field
            document.getElementById('term-input').value = '';
        }
    }

    function checkAll() {
        var checkboxes = document.getElementsByName('terms');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    }

    function uncheckAll() {
        var checkboxes = document.getElementsByName('terms');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = false;
        }
    }
    document.getElementById('toggleBtn').addEventListener('click', function() {
      var advancedSettings = document.querySelector('.advancedQuerySettings');
      advancedSettings.classList.toggle('hidden');
    });
</script>

{% include 'footer.html' %}

</body>
</html>
