<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

{% include 'navbar.html' %}

<main class="container mb-3">
    <h1>Term selection and query settings</h1>
    <div class="row">
        <form action="/results" method="get">
            <input type="hidden" name="lang" value="{{ lang }}">
            <input type="hidden" name="subgraph" value="{{ subgraph }}">
            <input type="hidden" name="qid" value="{{ qid }}">
            <h2>Optional settings:</h2>
            <div class="row">
                <div class="section">
                    <dt><label for="limit">Limit:</label></dt>
                    <dd><input type="text" id="limit" name="limit" placeholder="{{ default_limit }}" title="We default to {{ default_limit }}."></dd>
                </div>
            </div>
            <div class="row">
                    <dt><label for="csp">CirrusSearch prefix</label></dt>
                    <dd><input type="text" id="csp" name="prefix" value="" placeholder="haswbstatement:P31=Q13442814 -haswbstatement:P921=Q1334131" title="This is used mainly to control which subset of the graph to work on. Defaults to scientific articles."></dd>
            </div>
            <div class="row">
                    <dt><label for="csa">CirrusSearch affix:</label></dt>
                    <dd><input type="text" id="csa" name="affix" placeholder="-inlabel:syndrome" title="This is used mainly to exclude terms from the results"></dd>
            </div>
            <h2>Term list</h2>
            <p class="alert alert-info">At least one term is required.</p>
            <div class="row">
                <!-- Dynamic list of strings -->
                <table class="table table-bordered" id="termsTable">
                    <tr>
                        <th scope="col" class="col">Check <a href="#" onclick="checkAll(); return false;">all</a> | <a href="#" onclick="uncheckAll(); return false;">None</a></th>
                        <th scope="col" class="col">Term</th>
                        <th scope="col" class="col">Source</th>
                    </tr>
                    {{ terms_html | safe }}
                </table>
                <input type="text" class="form-control" id="term-input" placeholder="Add term to list">
                <button type="button" onclick="addTerm()"  class="btn btn-secondary btn-sm">Add term</button>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-lg center">Lookup items</button>
            </div>
        </form>
    </div>
</main>

<script>
    function addTerm() {
        var newString = document.getElementById('term-input').value;
        if (newString.trim() !== '') {
            var table = document.getElementById('termsTable');

            // Create a new row
            var newRow = table.insertRow(table.rows.length);

            // Insert cells into the row
            var checkboxCell = newRow.insertCell(0);
            var termCell = newRow.insertCell(1);
            var sourceCell = newRow.insertCell(2);

            // Create checkbox and set its properties
            var checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.name = 'terms';
            checkbox.value = newString;
            checkbox.checked = true;

            // Create span element for source
            var span = document.createElement('span');
            span.classList.add('source');
            span.textContent = 'from user';

            // Set the content of the cells
            checkboxCell.appendChild(checkbox);
            termCell.textContent = newString;
            sourceCell.appendChild(span);

            // Clear the input field
            document.getElementById('term-input').value = '';
        }
    }

    function checkAll() {
        var checkboxes = document.getElementsByName('terms');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = true;
        }
    }

    function uncheckAll() {
        var checkboxes = document.getElementsByName('terms');
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = false;
        }
    }
</script>

{% include 'footer.html' %}

</body>
</html>
